main {
  height: 100dvh;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
}

main::-webkit-scrollbar {
  display: none;
}

.section {
  @apply dark:bg-black flex justify-center items-center;

  scroll-snap-align: center;
  scroll-snap-stop: always;
}

.full-screen-center {
  @apply fixed inset-0 flex justify-center items-center;

}

.rounded-btn {
  @apply w-12 h-12 rounded-full flex items-center justify-center;
  @apply bg-white/10 shadow-lg text-white md:bg-gray-700 md:hover:bg-gray-500;
}

.lg-btn {
  @apply w-14 h-14;
}


.rounded-btn svg {
  @apply w-6 h-6;
}
