@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  @apply bg-white text-black dark:bg-black dark:text-white;

  width: 100%;
  height: 100dvh;
  margin: 0;
  scroll-behavior: smooth;
}

svg {
  @apply w-full h-full;
}